body {
    font-family: sans-serif;
}
h1{
    background-color: grey;
}

header{
    background-color: black;
    padding: 40px 0px 40px;
}

h1{
    text-align: center;
    color: black;
}

p{
    font-size: 24px;
    margin-left: 60px;
}
.g{
    padding: 10px;
}
